<web-app>

    <!-- DecoFilter 먼저 -->
    <filter>
        <filter-name>DecoFilter</filter-name>
        <filter-class>org.edu.filter.DecoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DecoFilter</filter-name>
        <url-pattern>/deco/*</url-pattern>
    </filter-mapping>

    <!-- PerformanceMonitorFilter 두 번째 -->
    <filter>
        <filter-name>PerformanceMonitorFilter</filter-name>
        <filter-class>org.edu.filter.PerformanceMonitorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PerformanceMonitorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>